<ion-header>
  <ion-toolbar>
    <ion-title>Lista de la compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-chip *ngFor="let item of items | async">
    <ion-avatar>
      <img [src]="item.imageUrl">
    </ion-avatar>

    <ion-label>{{ item.name }} <strong>{{ item.quantity }}</strong></ion-label>

    <span title="Editar elemento">
      <ion-icon name="pencil" (click)="goEditItem(item.itemId)">
      </ion-icon>
    </span>

    <span title="Borrar elemento">
      <ion-icon name="close-circle" (click)="itemService.deleteItem(item.itemId)">
      </ion-icon>
    </span>
  </ion-chip>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addItem()" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>